---
title: Welcome to Middleman
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Middleman is Running</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<body class="slider-background">

  <!-- Preloader  -->
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>
  <!-- ./Preloader -->

  <!-- pattern -->
  <div id="bg_pattern"></div>
  <!-- ./pattern -->

  <!-- scrollToTop -->
  <a href="#" class="scrollToTop">
    <i class="fa fa-angle-up fa-2x"></i>
  </a>
  <!-- ./scrollToTop -->


  <!-- header -->
  <header id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">
        <img src="img/logo.png" alt="logo">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="collapse-navbar">

        <ul class="nav navbar-nav navbar-right">
        <li><a data-scroll href="#services">Services</a></li>
        <li><a data-scroll href="#gallery">Gallery</a></li>
        <li><a data-scroll href="#portfolio">Portfolio</a></li>
        <li><a data-scroll href="#team">Team</a></li>
        <li><a data-scroll href="#news">News</a></li>
        <li><a data-scroll href="#pricing">Pricing</a></li>
        <li><a data-scroll href="#testimonial">Testimonials</a></li>
        <li><a data-scroll href="#contact">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
  </header>
  <!-- ./header -->










  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <!-- smooth-scroll -->
  <script src="plugins/smooth-scroll/smooth-scroll.js"></script>

  <!-- backstretch -->
  <script src="plugins/backstretch/backstretch.min.js"></script>

  <!-- owl-carousel -->
  <script src="plugins/owl-carousel/owl.carousel.js"></script>

  <!-- wow -->
  <script src="plugins/wow/wow.js"></script>

  <!-- typed -->
  <script src="plugins/typed/typed.min.js"></script>

  <!-- magnific-popup -->
  <script src="plugins/magnific-popup/jquery.magnific-popup.js"></script>

  <!-- jqBootstrapValidation -->
  <script src="plugins/jqBootstrapValidation/jqBootstrapValidation.js"></script>


  <!-- main js -->
  <script src="js/main.js"></script>

</body>
